{% extends "../base.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}Login{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" href="style/signUp.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'style/login.css' %}">
{% endblock %}

{% block content %}
{% load static %}

    <!----------------------- Main Container -------------------------->

    <div class="container d-flex justify-content-center align-items-center min-vh-100">

        <!----------------------- Login Container -------------------------->
    
           <div class="row border rounded-5 py-2 px-5 bg-white shadow box-area">
            <!-- <i class="bi bi-arrow-left"></i> -->
            <button class="btn-icon btn btn-sm fs-6 d-flex flex-column pb-3 color-none">
                <a href="{% url 'index' %}"><i class="bi bi-arrow-left" style="font-size: 30px;"></i></a>
                <!-- <small>Google</small> -->
            </button>
    
        <!--------------------------- Left Box ----------------------------->
    
           <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background: #704FE3">
               <div class="featured-image mb-3">
                <img src="{% static 'images/signUp/gambarSignup.png' %}" class="img-fluid" style="width: 200px;">
               </div>
               <p class="text-white fs-2" style="font-family: 'Courier New', Courier, monospace; font-weight: 600;">Be Verified</p>
               <small class="text-white text-wrap text-center" style="width: 17rem;font-family: 'Courier New', Courier, monospace;">Join experienced Designers on this platform.</small>
           </div> 
    
        <!-------------------- ------ Right Box ---------------------------->
            
           <div class="col-md-6 right-box">
              <div class="row align-items-center">
                    <div class="header-text mb-4">
                         <h2>Hello,Again</h2>
                         <p>We are happy to have you back.</p>
                    </div>
                    <!-- <div class="input-group mb-2">
                        <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                    </div>
                    <div class="input-group mb-2">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                    </div> -->
                    <!-- <div class="input-group mb-2">
                        <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Confirm Password">
                    </div> -->
                    <!-- <div class="input-group mb-5 d-flex justify-content-between">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="formCheck">
                            <label for="formCheck" class="form-check-label text-secondary"><small>Remember Me</small></label>
                        </div>
                        <div class="forgot">
                            <small><a href="#">Forgot Password?</a></small>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <button class="btn-login btn btn-lg w-100 fs-6">Login</button>
                    </div> -->
                    <form method="post" action="{% url 'account_login' %}">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger">
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        
                        <div class="input-group mb-2">
                            <input type="text" name="login" class="form-control form-control-lg bg-light fs-6" placeholder="Email address">
                        </div>
                        <div class="input-group mb-2">
                            <input type="password" name="password" class="form-control form-control-lg bg-light fs-6" placeholder="Password">
                        </div>
                        <div class="input-group mb-3">
                            <button type="submit" class="btn-login btn btn-lg w-100 fs-6">Login</button>
                        </div>
                        <div class="row">
                            <small>Don't have an account? <a href="{% url 'account_signup' %}">Sign Up</a></small>
                        </div>
                        <div class="forgot">
                            <small><a href="{% url 'account_reset_password' %}">Forgot Password?</a></small>
                        </div>
                        <!-- <div class="input-group mb-3">
                            <button type="submit" class="btn-login btn btn-lg w-100 fs-6">Login</button>
                        </div>                         -->
                    </form>
                    
                    <div class="d-flex justify-content-between flex-wrap gap-0 py-2">
                        <!-- Tombol Google -->
                        <!-- <button class="btn-icon btn btn-sm fs-6 d-flex align-items-center flex-column p-0 color-none">
                            <i class="bi bi-google" style="font-size: 30px;"></i>
                            <small>Google</small>
                        </button> -->
                        <a href="{% provider_login_url 'google' %}" class="btn-icon btn btn-sm fs-6 d-flex align-items-center flex-column p-0 color-none">
                            <i class="bi bi-google" style="font-size: 30px;"></i>
                            <small>Google</small>
                        </a>


                        <!-- Tombol LinkedIn -->
                        <button class="btn-icon btn btn-sm fs-6 d-flex align-items-center flex-column p-0 color-none">
                            <i class="bi bi-linkedin" style="font-size: 30px;"></i>
                            <small>LinkedIn</small>
                        </button>
                    
                        <!-- Tombol Twitter -->
                        <button class="btn-icon btn btn-sm fs-6 d-flex align-items-center flex-column p-0 color-none">
                            <i class="bi bi-twitter" style="font-size: 30px;"></i>
                            <small>Twitter</small>
                        </button>
                    
                        <!-- Tombol Facebook -->
                        <button class="btn-icon btn btn-sm fs-6 d-flex align-items-center flex-column p-0 color-none">
                            <i class="bi bi-facebook" style="font-size: 30px;"></i>
                            <small>Facebook</small>
                        </button>
                    </div>
                    
                    <div class="row">
                        <small>have account? <a href="signUp.html">Sign Up</a></small>
                    </div>
              </div>
           </div> 
    
          </div>
        </div>

{% endblock %}