:root {
    --firstpurple: #704FE3;
    --secondpurple: #DEC8FE;
    --firstyellow:#FFD25D;
    --secondyellow: #FFF1CE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #ffffff;
    width: 100%;
    margin-top: 70px; /* Sesuaikan dengan tinggi navbar */
     
}

.navbar {
    background-color: #ffffff;
    height: 70px;
}

.navbar img {
    height: 40px;
}

.navbar .btn {
    font-weight: bold;
    color: red;
}

.navbar .btn:hover {
    color: #ffffff;
}

.navbar .nav-link {
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-link:hover {
    background-color: #EDE2FF;
    color: var(--firstpurple);
    border: 1px solid var(--firstpurple);
    text-decoration: none;
}

.navbar .nav-link.active {
    color: var(--firstpurple);
}

/* Efek hover pada tombol */
.dropdown-toggle {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dropdown-toggle:hover {
    transform: scale(1.1); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
}

/* Menyesuaikan posisi dropdown pada layar kecil */
@media (max-width: 768px) {
    .dropdown-menu {
        position: absolute;
        top: 100%; 
        left: 0;
        right: auto;
        width: 100%; 
        z-index: 1000; 
    }

    .dropdown-menu-end {
        right: 0 !important;
    }
}


/* Modal Styles */
.modal-content {
    background-color: var(--secondpurple);
    color: var(--firstpurple);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.modal-header {
    border-bottom: none;
    text-align: center;
    justify-content: center;
}

.modal-title {
    font-size: 20px;
    font-weight: 600;
}

.modal-body {
    font-size: 16px;
    text-align: center;
    line-height: 1.5;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.modal-footer .btn-primary {
    background-color: var(--firstyellow);
    border: none;
    color: var(--firstpurple);
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
}

.modal-footer .btn-primary:hover {
    background-color: var(--firstpurple);
    color: #ffffff;
}

@keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

#exploreNowButton {
    background-color: #704FE3; /* Ungu terang */
    color: #FFFFFF; /* Putih */
    transition: background-color 0.3s, transform 0.3s;
}

#exploreNowButton:hover {
    background-color: #FFD25D; /* Kuning cerah */
    color: #704FE3; /* Ungu */
    transform: scale(1.05); /* Efek zoom sedikit */
}


.card {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease-in-out;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body .btn {
    border-radius: 20px;
}

.games h1 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}
.games .container {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
}

.games-grid {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
}

.games-grid::-webkit-scrollbar {
    display: none; 
}

.game-card .game-info {
    padding: 10px;
}
.game-card .game-info h3 {
    font-size: 18px;
    color: #333;
    margin: 0 0 10px;
}
.game-card .game-info p {
    font-size: 14px;
    color: #666;
    margin: 0;
}
.game-card .game-info .game-type {
    font-size: 14px;
    color: #999;
    margin-top: 10px;
}
.game-card .checkbox {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.game-card .checkbox input {
    width: 20px;
    height: 20px;
}
.game-card.featured {
    width: 600px;
}
.game-card.featured .game-info h3 {
    font-size: 24px;
}
.game-card.featured .game-info p {
    font-size: 16px;
}
.game-card.featured .game-info .game-type {
    font-size: 16px;
}

.game-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
}

.game-card img {
    width: 100%;
    height: 300px;
    width: 300px;
}

.game-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Tombol Play */
.game-card .play-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--firstpurple);
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.game-card:hover .play-button {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-5px); /* Efek kecil saat muncul */
}



.footer {
    background-color: #464646;
    color: white;
    padding: 0px 10px;
    width: 100%;
}

.footer .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer .footer-column {
    flex: 1;
    margin-top: 115px;
    margin-bottom: 50px;
    min-width: 100px;
}

.footer .footer-logo {
    max-width: 220px;
    margin: 40px 0px 20px 44px;
}

.footer .footer-header h6 {
    margin-left: 50px;
}

.footer .social-icons a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 40px;
    text-align: center;
    background-color: var(--firstyellow);
    border-radius: 50%;
    color: var(--firstpurple);
    margin: 30px 5px;
    font-size: 18px;
    transition: transform 0.3s;
}

.footer .social-icons a:hover {
    background-color: var(--firstpurple);
    color: #ffffff;
}

.footer .footer-column h5 {
    margin-bottom: 15px;
    color: white;
}

.footer .footer-column ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
}

.footer .footer-column ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.footer .footer-column ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer .footer-column ul li a:hover {
    color: var(--firstyellow);
}

.footer .footer-bottom {
    font-size: 14px;
    color: #bbbbbb;
    border-top: 1px solid var(--secondyellow);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
}

.footer .credit-left, .credit-center, .credit-right {
    flex: 1;
}

.footer .credit-left {
    text-align: left;
    display: flex;
    align-items: center;
}

.footer .credit-left .panah {
    display: flex;
    color: var(--firstyellow);
    border: 2px solid var(--firstyellow);
    padding: 2px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.footer .credit-left .panah:hover {
    color: #ffffff;
    background-color: var(--firstpurple);
    border: 2px solid var(--firstpurple);
}

.footer .credit-center {
    text-align: center;
}

.footer .credit-right {
    text-align: right;
}
