:root {
  --firstpurple: #704FE3;
  --secondpurple: #DEC8FE;
  --firstyellow:#FFD25D;
  --secondyellow: #FFF1CE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg);
  color: #ffffff;
  width: 100%;
}

.navbar {
  background-color: #ffffff;
  height: 70px;
}

.navbar img {
  height: 40px;
}

.navbar .btn {
  font-weight: bold;
  color: var(--firstyellow);
}

.navbar .btn:hover {
  color: var(--firstpurple);
}

.navbar .nav-link {
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar .nav-link:hover {
  background-color: #EDE2FF;
  color: var(--firstpurple);
  border: 1px solid var(--firstpurple);
  text-decoration: none;
}

.navbar .nav-link.active {
  color: var(--firstpurple);
}

.faq {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 20px;
}

.faq h1 {
text-align: center;
margin-bottom: 40px;
margin-top: 80px;
font-size: 40px;
font-weight: 500;
}

.faq .accordion-button:not(.collapsed) {
background-color: var(--firstyellow);
color: black;
border: none;
}

.kontak {
margin-top: 60px;
margin-bottom: 60px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding-bottom: 50px;
}

.kontak h1 {
  font-size: 40px;
  font-weight: 500;
}

.kontak .kontak-card {
display: flex;
flex-direction: row;
background-color: var(--firstpurple);
width: 900px;
max-width: 1200px;
margin: 30px auto 0px auto;
border-radius: 20px;
overflow: hidden;
gap: 10px;
padding: 10px;
}

.kontak .kontak-card .map {
width: 50%;
height: 300px;
object-fit: cover;
border: none;
border-radius: 10px;
margin-top: 30px;
margin-left: 30px;
align-content: center;
justify-content: center;
}

.kontak .kontak-card form {
width: 50%;
padding: 32px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 16px;
text-align: left;
}

.kontak .kontak-card form .input-group {
display: flex;
align-items: center;
background-color: #ffffff;
border: 3px solid var(--secondyellow);
border-radius: 15px;
padding-left: 16px;
}

.kontak .kontak-card form .input-group input {
width: 100%;
height: 20px;
padding: 28px 16px;
font-size: 16px;
background: none;
color: #464646;
border: none;
outline: none;
line-height: 40px;
}

.kontak .kontak-card form .btn {
margin-top: 10px;
display: inline-block;
padding: 16px 32px;
font-size: 18px;
color: #464646;
background-color: var(--secondyellow);
cursor: pointer;
border-radius: 10px;
border: none;
transition: background-color 0.3s ease;
}

.kontak .kontak-card form .btn:hover {
background-color: var(--secondpurple);
color: var(--firstpurple);
}

.footer {
background-color: #464646;
color: white;
padding: 0px 10px;
width: 100%;
}

.footer .footer-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

.footer .footer-column {
flex: 1;
margin-top: 115px;
margin-bottom: 50px;
min-width: 100px;
}

.footer .footer-logo {
max-width: 220px;
margin: 40px 0px 20px 44px;
}

.footer .footer-header h6 {
margin-left: 50px;
}

.footer .social-icons a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 40px;
text-align: center;
background-color: var(--firstyellow);
border-radius: 50%;
color: var(--firstpurple);
margin: 30px 5px;
font-size: 18px;
transition: transform 0.3s;
}

.footer .social-icons a:hover {
background-color: var(--firstpurple);
color: #ffffff;
}

.footer .footer-column h5 {
margin-bottom: 15px;
color: white;
}

.footer .footer-column ul {
list-style: none;
padding: 0;
font-size: 14px;
}

.footer .footer-column ul li {
margin-bottom: 10px;
font-size: 14px;
}

.footer .footer-column ul li a {
color: white;
text-decoration: none;
font-size: 14px;
}

.footer .footer-column ul li a:hover {
color: var(--firstyellow);
}

.footer .footer-bottom {
font-size: 14px;
color: #bbbbbb;
border-top: 1px solid var(--secondyellow);
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
height: 100px;
padding: 0 20px;
}

.footer .credit-left, .credit-center, .credit-right {
flex: 1;
}

.footer .credit-left {
text-align: left;
display: flex;
align-items: center;
}

.footer .credit-left .panah {
display: flex;
color: var(--firstyellow);
border: 2px solid var(--firstyellow);
padding: 2px;
border-radius: 50%;
width: 20px;
height: 20px;
align-items: center;
justify-content: center;
font-size: 14px;
}

.footer .credit-left .panah:hover {
color: #ffffff;
background-color: var(--firstpurple);
border: 2px solid var(--firstpurple);
}

.footer .credit-center {
text-align: center;
}

.footer .credit-right {
text-align: right;
}